@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --color-success: #2ecc71;
  --color-error: #e74c3c;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: #f9fafb;
  font-family: "Open Sans", sans-serif;
}

h2 {
  text-align: center;
  margin: 0 0 2rem;
}

.container {
  width: 40rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
}

.form {
  padding: 3rem 4rem;
}

.form-control {
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

.form-control label {
  display: block;
  color: #777;
  margin-bottom: 0.5rem;
}

.form-control input {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  padding: 1rem;
  border: 0.2rem solid #f0f0f0;
  border-radius: 0.4rem;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--color-success);
}

.form-control.error input {
  border-color: var(--color-error);
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--color-error);
}

.form-control.error small {
  visibility: visible;
}

.form button {
  display: block;
  cursor: pointer;
  width: 100%;
  color: #fff;
  background-color: #3498db;
  border: 0;
  border-radius: 0.4rem;
  padding: 1rem;
  margin-top: 2rem;
}
